.filter-section {
    width: 100%;
    min-height: 50px;
    max-height: fit-content;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.filter-section .filter {
    width: 300px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin-right: 5px;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.filter .select-opt {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: black;
}

.filter .select-opt .selected-opt {
    position: absolute;
    top: 15px;
    width: 90%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.filter .select-opt .arrow-mark {
    position: absolute;
    right: 3%;
    top: 20px;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 12px solid rgb(255, 255, 255);
    transition: .3s;
}

.filter .select-opt .arrow-mark:hover {
    cursor: pointer;
}

.filter .select-opt .rotate-arrow {
    transform: rotate(180deg);
}

.filter ul.opt-list {
    list-style-type: none;
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
    line-height: 30px;
    padding: 10px 25px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    opacity: 0;
    display: none;
    transition: 4s all ease;
}

.filter ul.showList {
    opacity: 1;
    display: block;
}

.filter ul.opt-list li {
    padding-left: 15px;
    letter-spacing: 1.2pt;
    transition: .4s all ease;
}

.filter ul.opt-list li:nth-child(2n) {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.filter ul.opt-list li:hover {
    cursor: pointer;
    transform: scale(.96);
    letter-spacing: .6pt;
}

@media (max-width:916px) {
    .filter-section .filter {
        width: 200px;
    }
}
@media(max-width:630px){
    .filter-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }   
    .filter-section .filter {
        width: 300px;
        margin-bottom: 5px;
    }
}
@media (max-width:300px){
    .filter-section .filter {
        width: 200px;
    }
}